<v-container class="erkenning-regel">
  <v-row>
  <div>{{code}}</div>
  <div>{{description}}</div>
  <div>{{startDate}}</div>
  <div>{{endDate}}</div>
  </v-row>
  <v-row>
     <v-menu
    :close-on-content-click="true"
         v-model="startDateMenuOpen"
  >
    <template v-slot:activator="{props}">
    <v-text-field
      label="TheDate"
      :model-value="sDate.fullDate"
      readonly
      v-bind="props"
      prepend-icon="event"
      variant="solo"
      hide-details
    ></v-text-field>
    </template>
    <v-date-picker v-model="sDate" >

    </v-date-picker>
      </v-menu>
  </v-row>
</v-container>
